<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
  </head>
  <body>
    <div class="container-fluid" th:fragment="menu_lateral">
    	<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-list">
            <li class="nav-header">Entidad 01</li>
            <li><a href="#">Listar</a></li>
            <li><a href="#">Nuevo</a></li>
          </ul>
          <ul class="nav nav-list">
            <li class="nav-header">Entidad 02</li>
            <li><a href="#">Listar</a></li>
            <li><a href="#">Nuevo</a></li>
          </ul>
        </div>    
    </div>
  </body>
</html>